body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-borders {
  border: none !important;
}

.ant-drawer.ant-drawer-open {
  /* z-index: 5000; */
}

.ant-message {
  /* z-index: 10000 !important; */
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}