.users-list .desc h3 {
    font-weight: 800;
    margin-bottom: 8px;
    font-size: 1.5em;
    color: #000;
    letter-spacing: 1px;
}

.users-list .desc p {
    font-weight: 500;
    font-size: 1.02em;
}

.inner-header-anchors {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.list-user-image {
    border-radius: 50%;
    height: 100%;
}

.users-list-item {
    height: 100px;
    width: 100%;
}

.users-list-item .ant-col{
    height: 100%;
}

.demo-loadmore-list {
    // width: 95%;
}

.item-designation {
    color: #000;
    margin-top: -8px;
    margin-bottom: 5px;
    font-size: 10px;
    text-transform: lowercase;
}

.item-designation span {
    color: #038fde;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 15px;
}

.item-description {
}