.users-list .desc h3 {
    font-weight: 800;
    margin-bottom: 8px;
}

.users-list .desc p {
    font-weight: 700;
}

.inner-header-anchors {
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.list-user-image {
    border-radius: 50%;
    width: 85%;
}
